<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>About</title>
  <meta name="description" content="About Page">
  <meta name="author" content="enjimenez">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <h1>About Page</h1>
  <%= link_to 'Home', root_path %>
</body>
</html>